body{

}
#div1{
    height: 100vh;
    width:100vw;
    background-image: url("image/logo_switchtocode.png");
    background-repeat: no-repeat;
    background-position: center;
    /* red,rgb(12,12,12),rgba(15,15,15,1),#15a15s */
    border: 2px solid rgb(55, 0, 255);
    /* width,style,color */
    border-radius: 22px;
    background-size: contain;
}
/* 
css unit:-
absolute:-
        cm
        in
        px=1/96in
Relative:-
        precentage %
        vh
        vw
        rem-1 rem = font size of root (html) node
        em=1em =font size of parent
 */
 #para{
    font-size: 30px;
    color: blue;
    font-weight: bold;
    text-decoration: none;
    line-height: 50px;
    text-align: left;
    text-transform: capitalize;
 }
 .gradients{
        height: 500px;
        width: 500px;
        margin: 40px;
        border: 1px solid royalblue;
        /* background-image: linear-gradient(red,cyan, blue); */
        /* background-image: linear-gradient(blue, pink 50%); */
        /* Using degree */
        /*  background-image: linear-gradient(0deg, red, cyan,pink); */
        /*  background-image: linear-gradient(120deg, red, cyan,pink); */
        background-image: linear-gradient(90deg, red, cyan,pink);
    }
    .gradients1{
        height: 500px;
        width: 500px;
        margin: 40px;
        border: 1px solid royalblue;
        background: radial-gradient(red, cyan , blue);
}
.gradients2{
        height: 500px;
        width: 500px;
        margin: 40px;
        border: 1px solid royalblue;
        background: repeating-linear-gradient(to top right, red, blue, pink 10px);
}
.gradients3{
        height: 500px;
        width: 500px;
        margin: 40px;
        border: 1px solid royalblue;
        background: repeating-radial-gradient(red, blue, pink 15px);
}